.button {
}

.button:hover {
    scale: 1.1 1.1;
    transition-property: scale;
    transition-duration: 0.5s;
    -unity-background-image-tint-color: rgb(255, 0, 0);
    background-color: rgba(250, 46, 46, 0.94);
    transition-delay: 0s;
    transition-timing-function: ease;
    text-shadow: 0 0 0 rgb(255, 0, 0);
    border-bottom-width: 40px;
    border-top-width: 57px;
}

.buttonarrow {
}

.buttonarrow:hover {
    transition-property: scale;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
    scale: 1.7 1.7;
}
